<footer>
  <div class="footer-container">
    <div class="footer-item">
      <a class="footer-logo" href="/">
        <img src="/images/header-logo.svg" alt="Misture Cocktail Bar Logo"/>
      </a>
      <br>
      <p>
        Aperti da Lunedì a Domenica<br>
        Orario 17:00 - 02:00
      </p>
    </div>
    <div class="footer-item">
      <p>
        Via Santa Lucia, 70<br>
        80132 Napoli NA
      </p>
      <address>
        <ul>
          <li>
            <a href="mailto:indirizzo@email.it">indirizzo@email.it</a>
          </li>
          <li>
            <a href="tel:0123456789">0123456789</a>
          </li>
        </ul>
      </address>
    </div>
    <div class="footer-item">
      <ul>
        <li><a href="/scopri-la-sede/">Sede</a></li>
        <li><a href="/lo-staff-di-misture/">Staff</a></li>
        <li><a href="/eventi-e-news/">Eventi & News</a></li>
        <li><a href="/lista-dei-cocktail/">Cocktail Menu</a></li>
      </ul>
    </div>
    <div class="footer-item">
      <h3>Seguici</h3>
      <a href="#" target="_blank">Instagram</a>
      <a href="#" target="_blank">Facebook</a>
    </div>
  </div>
</footer>