{% set menuLink = [
        {
            label: 'Cocktail Menu',
            path: '../cocktail-menu/'
        },
        {
            label: 'Food Menu',
            path: '../food-menu/'
        },
        {
            label: 'Wine & Bubbles',
            path: '../wine-and-bubbles/'
        }
    ] 
%}

{% set currentClass = 'is-current' %}

<header>
    <a href="/">
        <picture class="header-logo">
            <source srcset="/images/header-logo-desktop.svg" media="(min-width: 1024px)">
            <img src="/images/header-logo.svg" alt="Misture Cocktail Bar Logo"/>
        </picture>
    </a>
    <button class="header-menu-btn js-menu-handler">
        <svg width="32" height="32" id="icon-menu" viewBox="0 0 32 32">
            <path d="M4 17.333h24c0.736 0 1.333-0.597 1.333-1.333s-0.597-1.333-1.333-1.333h-24c-0.736 0-1.333 0.597-1.333 1.333s0.597 1.333 1.333 1.333zM4 9.333h24c0.736 0 1.333-0.597 1.333-1.333s-0.597-1.333-1.333-1.333h-24c-0.736 0-1.333 0.597-1.333 1.333s0.597 1.333 1.333 1.333zM4 25.333h24c0.736 0 1.333-0.597 1.333-1.333s-0.597-1.333-1.333-1.333h-24c-0.736 0-1.333 0.597-1.333 1.333s0.597 1.333 1.333 1.333z"></path>
        </svg>
    </button>
    <nav class="header-nav js-menu">
        {% for item in menuLink %}
            {% if loop.index == currentPage %}
                <a class="{{currentClass}}" href="{{item.path}}">{{item.label}}</a>
            {% else %}
                <a href="{{item.path}}">{{item.label}}</a>
            {% endif %} 
        {% endfor %}
    </nav>
</header>