{% set menuLink = [
        {
            label: 'Sede',
            path: '../scopri-la-sede/'
        },
        {
            label: 'Staff',
            path: '../lo-staff-di-misture/'
        },
        {
            label: 'Eventi e News',
            path: '../eventi-e-news/'
        },
        {
            label: 'Cocktail Menu',
            path: '../lista-dei-cocktail/'
        }
    ] 
%}

{% set currentClass = 'is-current' %}

<header>
    <a href="/">
        <picture>
            <source srcset="/images/header-logo-desktop.svg" media="(min-width: 1024px)">
            <img src="/images/header-logo.svg" alt="Misture Cocktail Bar Logo"/>
        </picture>
    </a>
    <button class="header-menu-btn js-menu-handler">
        Menu
    </button>
    <nav class="js-menu">
        {% for item in menuLink %}
            {% if loop.index == currentPage %}
                <a class="{{currentClass}}" href="{{item.path}}">{{item.label}}</a>
            {% else %}
                <a href="{{item.path}}">{{item.label}}</a>
            {% endif %} 
        {% endfor %}
    </nav>
</header>