{% set staff = [
        {
            name: 'Nome Cognome',
            description: 'Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.',
            photos: [
                {
                    mobile: 'https://source.unsplash.com/300x300/?cocktail',
                    desktop: 'https://source.unsplash.com/800x800/?cocktail'
                }
            ]
        },
        {
            name: 'Nome Cognome',
            description: 'Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.',
            photos: [
                {
                    mobile: 'https://source.unsplash.com/300x300/?cocktail',
                    desktop: 'https://source.unsplash.com/800x800/?cocktail'
                }
            ]
        },
        {
            name: 'Nome Cognome',
            description: 'Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.',
            photos: [
                {
                    mobile: 'https://source.unsplash.com/300x300/?cocktail',
                    desktop: 'https://source.unsplash.com/800x800/?cocktail'
                }
            ]
        },
        {
            name: 'Nome Cognome',
            description: 'Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.',
            photos: [
                {
                    mobile: 'https://source.unsplash.com/300x300/?cocktail',
                    desktop: 'https://source.unsplash.com/800x800/?cocktail'
                }
            ]
        }
    ] 
%}


{% for item in staff %}
<section class="intro">
    {% if loop.index % 2 != 0 %}
    <article class="content">
    {% else %}
    <article class="content content--reverse">
    {% endif %}
      <figure class="content-media">
        {% for photo in item.photos %}
            <picture>
                <source srcset="{{ photo.desktop }}" media="(min-width: 1024px)">
                <img src="{{ photo.mobile }}" alt="{{Fusettone}}" height="800" width="800" />
            </picture>
        {% endfor %}
      </figure>
      <div class="content-text">
        <h2 class="intro-title">{{ item.name }}</h2>
        <p>{{ item.description }}</p>
      </div>
    </article>
  </section>
{% endfor %}
  