{% set currentPage = 1 %}
{% set title = 'La Sede | Misture Cocktail Bar' %}

<!DOCTYPE html>
<html lang="en">
  {% include "./partials/head.html" %}
  <body>
    {% include "./partials/header.html" %}
    <main class="page-venue">

      <section class="hero hero--fixed">
        <video muted autoplay loop>
          <source src="../assets/video/intro-venue.webm" type="video/webm">
          <source src="../assets/video/intro-venue.mp4" type="video/mp4">
        </video>
      </section>

      <div class="content-container">
        <section class="intro">
          <article class="content">
            <figure class="content-media">
              <picture>
                <source srcset="/images/location.avif" type="image/avif" media="(min-width: 1024px)">
                <source srcset="/images/location.webp" type="image/webp" media="(min-width: 1024px)">
                <source srcset="/images/location.jpeg" type="image/webp" media="(min-width: 1024px)">
                <source srcset="/images/location-mobile.avif" type="image/avif">
                <source srcset="/images/location-mobile.webp" type="image/webp">
                <img src="/images/location-mobile.jpg" alt="Misture location" />
              </picture>
            </figure>
            <div class="content-text">
              <h2 class="intro-title">La nostra sede</h2>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
            </div>
          </article>
        </section>
  
        <section class="intro">
          <article class="content content--reverse">
            <figure class="content-media">
              <picture>
                <source srcset="/images/location.avif" type="image/avif">
                <source srcset="/images/location.webp" type="image/webp">
                <img src="/images/location.jpeg" alt="Misture location" />
              </picture>
            </figure>
            <div class="content-text">
              <h2 class="intro-title">Il quartiere</h2>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
            </div>
          </article>
        </section>
      </div>

      {% include "./partials/book.html"  %}
      
    </main>
    {% include "./partials/footer.html"  %}
    <script type="module" src="../assets/javascripts/venue.js"></script>
  </body>
</html>
