<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <style>@import './assets/stylesheets/critical.css';</style>
    <link rel="stylesheet" href="./assets/stylesheets/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Misture Cocktail Bar</title>
  </head>
  <body>
    {% include "./partials/header.html" %}
    <main>
    </main>
    {% include "./partials/footer.html"  %}
    <!-- <script type="module" src="/main.js"></script> -->
  </body>
</html>
