{% set currentPage = 1 %}
{% set title = 'Cocktail Menu | Misture Cocktail Bar' %}

<!DOCTYPE html>
<html lang="en">
  {% include "./partials/head.html" %}
  <body>
    {% include "./partials/header.html" %}
    <main class="page-staff">
      <section class="hero">

      </section>
      
      {% include "./partials/cocktails-list.html"  %}

      {% include "./partials/book.html"  %}
      
    </main>
    {% include "./partials/footer.html"  %}
    <script type="module" src="../assets/javascripts/content.js"></script>
  </body>
</html>
