@font-face {
    font-family: 'Montserrat Regular';
    font-weight: 400;
    src:  url('../../fonts/Montserrat-Regular.woff2') format('woff2')
}

@font-face {
    font-family: 'Montserrat SemiBold';
    font-weight: 600;
    src:  url('../../fonts/Montserrat-SemiBold.woff2') format('woff2')
}

@font-face {
    font-family: 'Bebas Neue Regular';
    font-weight: 400;
    src:  url('../../fonts/BebasNeue-Regular.woff2') format('woff2')
}

@font-face {
    font-family: 'Shadow Light Regular';
    font-weight: 400;
    src:  url('../../fonts/ShadowsIntoLight-Regular.woff2') format('woff2')
}