@font-face {
    font-family: 'RobotoSlab Light';
    font-weight: 400;
    src:  url('../../fonts/RobotoSlab-Light.woff2') format('woff2')
}

@font-face {
    font-family: 'RobotoSlab Medium';
    font-weight: 500;
    src:  url('../../fonts/RobotoSlab-Medium.woff2') format('woff2')
}

@font-face {
    font-family: 'RobotoSlab Black';
    font-weight: 900;
    src:  url('../../fonts/RobotoSlab-Black.woff2') format('woff2')
}