/* Colors */
:root {
    --true-black: #000;
    --black: #333;
    /* --ocean-green: #80cbc4; */
    --ocean-green: #27818f;
    --honey-yellow: #ffe082;
    --honey-yellow-light: #fff3e0;
    --white: #fff;
}

/* Typography */
:root {
    --heading-font: 'Bebas Neue Regular';
    --text-font: 'Montserrat Regular';
    --alternative-font: 'Shadow Light Regular'; 
}