/* Colors */
:root {
    --black: #222;
    --ocean-green: #80cbc4;
    --honey-yellow: #ffe082;
    --honey-yellow-light: #fff3e0;
}

/* Typography */
:root {
    --heading-font: "Bebas Neue Regular";
    --text-font: "Montserrat Regular";
}