.button {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    color: var(--ocean-green);
    cursor: pointer;
    font-family: var(--heading-font);
    font-size: 24px;
    line-height: 32px;
}

.button-bordered {
    border: 2px solid var(--ocean-green);
}

.button-filled {
    background-color: var(--ocean-green);
    color: var(--black)
}

.button-big {
    font-size: 32px;
    line-height: 40px;
}

.button-small {
    font-size: 16px;
    line-height: 24px;
}

.button-link {
    text-decoration: none
}

.button-yellow {
    border-color: var(--honey-yellow);
    color: var(--honey-yellow)
}

.button-white {
    border-color: var(--white);
    color: var(--white)
}