.content {
  margin: 0 0 32px;
}

.content p {
  font-family: var(--text-font);
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

.content-media {
  border-radius: 20px;
  box-shadow: 10px 10px 0px 0px var(--ocean-green);
  margin: 0 0 32px;
  overflow: hidden
}

.content-media picture {
  display: block;
}

@media (min-width: 1024px) {
  .content {
    align-items: center;
    display: flex;
    margin: 0 0 64px;
    padding: 0 0 0 10vw;
  }

  .content-media {
    border-radius: 40px;
    box-shadow: 20px 20px 0px 0px var(--ocean-green);
    flex: 1 0 auto;
    margin: 0;
    max-width: 35vw;
  }

  .content--reverse {
    flex-direction: row-reverse;
    padding: 0 10vw 0 0;
  }

  .content--reverse .content-media {
    border-radius: 0 100px 0 100px;
    box-shadow: 25px -25px 0px 0px var(--ocean-green)
  }

  .content-text {
    padding: 0 32px
  }
}

@media (min-width: 1440px) {
  .content-text{
    padding: 0 64px
  }

  .content-media {
    border-radius: 60px;
    box-shadow: 30px 30px 0px 0px var(--ocean-green);
    max-width: 50%
  }
}