.content {
  margin: 0 0 32px;
}

.content-media {
  margin: 0 auto 32px;
  overflow: hidden
}

.content-media picture {
  display: block;
}

@media (min-width: 1024px) {
  .content {
    align-items: center;
    display: flex;
    margin: 0 0 64px;
    max-width: 960px;
  }

  .content-media {
    flex: 1 0 auto;
    margin: 0;
    max-width: 35vw;
  }

  .content--reverse {
    flex-direction: row-reverse;
  }

  .content-text {
    padding: 0 32px 0 52px;
  }

  .content--reverse .content-text {
    padding: 0 32px
  }
}

@media (min-width: 1440px) {
  .content {
    max-width: 1200px
  }

  .content-text{
    padding: 0 64px
  }

  .content-media {
    max-width: 50%
  }
}