.content {
  margin: 0 0 32px;
}

.content h2 {
  font-family: var(--heading-font);
  font-size: 32px;
}

.content p {
  font-family: var(--text-font);
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

.content-media {
  margin: 0 0 32px;
}

.content-media picture {
  display: block;
}

@media (min-width: 1024px) {
  .content {
    align-items: center;
    display: flex;
    margin: 0 0 64px;
    padding: 0 0 0 10vw;
  }

  .content h2 {
    color: var(--honey-yellow-light);
    font-size: 112px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000
  }

  .content-media {
    border-radius: 150px 0 150px 0;
    box-shadow: 25px 25px 0px 0px var(--ocean-green);
    flex: 1 0 auto;
    margin: 0;
    max-width: 35vw;
    overflow: hidden
  }

  .content--reverse {
    flex-direction: row-reverse;
    padding: 0 10vw 0 0;
  }

  .content--reverse .content-media {
    border-radius: 0 150px 0 150px;
    box-shadow: 25px -25px 0px 0px var(--ocean-green)
  }

  .content-text {
    padding: 0 32px
  }
}

@media (min-width: 1440px) {
  .content-text{
    padding: 0 64px
  }

  .content-media {
    max-width: 50vw
  }
}