.hero {
  height: 85vh;
  position: relative;
}

.hero video {
  width: 100%;
}

.hero--fixed {
  left: 0;
  position: fixed;
  top: 98px;
  width: 100%
}

.hero--fixed + .content-container {
  position: relative;
  padding-top: calc(85vh - 58px);
}

.hero:after {
  background-color: rgba(128, 203, 196, .3);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media (min-width: 1024px) {

}