.hero {
  height: 100vh;
  position: relative;
}

.hero picture {
  display: block;
  height: 100%;
  width: 100%;
}

.hero img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.hero:after {
  background-color: rgba(128, 203, 196, .3);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero--fixed {
  height: 80vh;
  left: 0;
  position: fixed;
  top: 79px;
  width: 100%
}

.hero--fixed + .content-container {
  position: relative;
  padding-top: calc(80vh + 79px);
}

/* @media (min-width: 1024px) {
  .hero--fixed {

  }
} */