.intro {
  background-color: var(--honey-yellow-light);
  min-height: 100vh;
  padding: 0 16px
}

@media (min-width: 375px) {
  .intro {
    padding: 0 24px
  }
}

@media (min-width: 1024px) {
  .intro {
    padding: 0
  }
}