.intro-title {
    color: var(--honey-yellow-light);
    font-family: var(--heading-font);
    font-size: 48px;
    letter-spacing: 4px;
    text-shadow: 2px 0 0 var(--ocean-green), -2px 0 0 var(--ocean-green), 0 2px 0 var(--ocean-green), 0 -2px 0 var(--ocean-green), 1px 1px var(--ocean-green), -1px -1px 0 var(--ocean-green), 1px -1px 0 var(--ocean-green), -1px 1px 0 var(--ocean-green);
}

@media (min-width: 1024px) {
    .intro-title {
        font-size: 64px;
        letter-spacing: 8px;
    }
}