.intro-title {
    font-family: var(--heading-font);
    font-size: 32px;
    color: var(--honey-yellow-light);
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

@media (min-width: 1024px) {
    .intro-title {
        font-size: 112px;
    }
}