.book {
  align-items: flex-start;
  background-image: url('/images/book-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 80px 24px;
  position: relative;
}

.book:after {
  background-color: rgba(128, 203, 196, .3);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.book-info {
  color: var(--honey-yellow);
  margin: 0 auto;
  position: relative;
  text-align: center;
  z-index: 1;
}

.book-text {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 32px;
}

.book-info .intro-title {
  color: var(--white);
  font-size: 40px;
  margin-bottom: 8px;
}

.book .button {
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .book {
    padding: 120px 24px;
  }
}

.book-cta {
  align-items: center;
  display: flex;
  row-gap: 30px;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1024px) {
  .book {
    background-position: center;
    padding: 30vh 0;
  }

  .book-cta {
    column-gap: 30px;
    flex-direction: row;
    justify-content: center;
  }
}