.book {
  align-items: center;
  background-color: var(--honey-yellow-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 16px;
  position: relative;
  text-align: center;
}

.book-info {
  margin-bottom: 24px;
}

.book-text {
  font-size: 18px;
  line-height: 32px;
}

.book-info .intro-title {
  font-size: 40px;
  margin-bottom: 8px;
}

@media (min-width: 1024px) {
  .book {
    padding: 80px 24px;
  }
}