footer {
    background-color: var(--white);
    border-top: 2px solid var(--ocean-green);
    position: relative;
}

.footer-container {
    font-size: 16px;
    line-height: 30px;
    max-width: 1024px;
    margin: 0 auto;
    padding: 40px 16px;
}

.footer-item {
    margin-bottom: 24px;
}

.footer-logo {
    display: block;
    margin-bottom: 8px
}

.footer-container a {
    color: #000;
}

.footer-nav {
    display: flex;
    flex-direction: column;
}

.footer-nav a {
    color: var(--black);
    text-decoration: none;
    width: fit-content
}

.footer-nav a.is-current {
    box-shadow: inset 0 -4px 0 0 var(--ocean-green)
}

@media (min-width: 1024px) {
    .footer-container {
        display: flex;
        justify-content: space-between;
        padding: 80px 0;
    }

    .footer-item {
        margin-bottom: 0
    }
}

.footer-social {
    align-items: center;
    display: flex;
    margin-bottom: 8px;
    text-decoration: none;
}

.footer-social svg {
    margin-right: 8px
}