{% set currentPage = 4 %}
{% set title = 'Cocktail Menu | Misture Cocktail Bar' %}

<!DOCTYPE html>
<html lang="en">
  {% include "./partials/head.html" %}
  <body>
    {% include "./partials/header.html" %}
    <main>
      <section class="intro">
        <article class="content">
          <figure class="content-media">
              <picture>
                <source srcset="https://source.unsplash.com/800x800/?cocktail" media="(min-width: 1024px)">
                <img src="https://source.unsplash.com/300x300/?cocktail" alt="Fusettone" height="800" width="800" />
              </picture>
            </figure>
          <div class="content-text">
            <h2 class="intro-title">I nostri cocktail</h2>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
          </div>
        </article>
      </section>
      <section class="cocktail-container">
        {% include './partials/cocktails.html' %}
      </section>
      {% include './partials/book.html' %}
    </main>
    {% include "./partials/footer.html"  %}
    <script type="module" src="/main.js"></script>
  </body>
</html>
